.maindivbwe {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px;
}

.imadsf {
  width: 100%;
  height: 300px;
}
.pasdfb {
  font-size: 14px;
  color: #455a64;
  height: 45px px;
  overflow: hidden;
}
.buttonasdf {
  color: white;
  background-color: #3dc001;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}
.pastsdfn {
  text-align: left;
  font-weight: bolder;
  color: #f98d29;
}
.pasdiysbd{
  font-size: 14px;
  color: #008a00;
}