.maindiv {
  display: flex;
  margin-bottom: 10px;
}
.img_1 {
  width: 250px;
  height: 70px;
}
.firstnavdiv {
  display: flex;
}
.firstnavdiv input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 17px;
  margin-right: 16px;
  font-size: 17px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 300px;
}
.img_2sdf {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-left: -10px;
}
.ptagdub {
  font-size: small;
}
.adub {
  margin-left: 50px;
}
